Django-Select2==4.2.2
South==0.8.4
aldryn-blog==0.3.12
aldryn-common==0.0.3
aldryn-search==0.1.9
anardjango==1.0
argparse==1.2.1
cmsplugin-gallery-filer==0.5.2.1
django==1.6
django-admin-jqueryui==1.8.22
django-appconf==0.6
django-classy-tags==0.5.1
django-cms==3.0.2
django-cms-themes==1.0.11
django-filer==0.9.5
django-inline-ordering==1.0.2
django-mptt==0.6.0
django-polymorphic==0.5.5
django-sekizai==0.7
django-taggit==0.11.2
djangocms-admin-style==0.2.2
djangocms-file==0.0.1
djangocms-flash==0.0.2
djangocms-picture==0.0.2
djangocms-text-ckeditor==2.1.4
easy-thumbnails==2.0.1
haystack==0.16
html5lib==1.0b3
mysql-python==1.2.5
pil==1.1.7
pillow==2.4.0
python-ptrace==0.7
pytz==2014.3
six==1.6.1
winappdbg==1.5
