{% load thumbnail %}
{% load static %}

  <!-- start gallery HTML containers -->
      <div id="gallery" class="content">
        <div class="slideshow-container">
          <div id="loading" class="loader"></div>
          <div id="slideshow" class="slideshow"></div>
        </div>
      </div>
      <div id="thumb-container">
        <div id="thumbs" class="navigation">
          <h1>Our Students</h1>
          <ul class="thumbs noscript">
            {% for image in images %}
            <li>

              <a class="thumb" href="{% thumbnail image.src 450x450 crop %}"><img src="{% thumbnail image.src 75x75 crop %}" alt="{{ image.alt }}" /></a>
              <div class="caption">
                <div class="image-title portfolio_one">{{ image.title }}</div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div id="controls" class="controls portfolio_one"></div>
        <div id="caption" class="caption-container"></div>
        <div style="clear: both;"></div>
        <!-- end gallery HTML containers -->
      </div>

