{% load thumbnail %}
{% load static %}

 <!-- start gallery HTML containers -->
      <div class="navigation-container">
        <div id="thumbs" class="navigation">
          <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
          <ul class="thumbs noscript">
              {% for image in images %}
            <li>
              <a class="thumb" href="{% thumbnail image.src 950x450 crop %}"><img src="{% thumbnail image.src 75x75 crop %}" alt="{{ image.alt }}" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">{{ image.title }}</div>
              </div>
            </li>
              {% endfor %}
          </ul>
          <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
        </div>
      </div>
      <div class="content">
        <div class="slideshow-container">
          <div id="loading" class="loader"></div>
          <div id="slideshow" class="slideshow"></div>
          <div id="controls" class="controls portfolio_two"></div>
          <div id="caption" class="caption-container"></div>
        </div>
      </div>
      <!-- end gallery HTML containers -->

